<div class="jumbotron">
  <h1><%= gettext "Welcome to %{name}", name: "Octocat Clash" %></h1>
  <p>Clash of the Octocats!</p>
  <a href="#" class="btn btn-lg btn-success">
    Get Started
  </a>
</div>

